body
{

   background-size: cover;
   background-position: center;
   box-sizing: border-box;
   font-family  : sans-serif;
   background-color: #EAF6F6;
   text-align:center;
   
}


	
*
{

	padding: 0;
	margin: 0;
}


.menu-bar
{
	background: rgb(0,100,0);
	text-align: center;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: white;
}

.menu-bar ul li
{
	width: 120px;
	margin : 15px;
	padding :15px;


}

.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}

 .menu-bar ul li:hover
{
		background-color: #2bab0d;
		border-radius: 3px;

}

.menu-bar ul li .sub-menu-1 ul li:hover
{
	background-color: #2bab0d;
		border-radius: 3px;
}

.menu-bar .fa
{
	margin-right: 8px;

}

.sub-menu-1
{
	display:none;
}

.sub-menu-2
{
	display:none;
}


.sub-menu-3
{
	display:none;
}


.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display:block;
	margin: 10px;

}


.menu-bar ul li:hover .sub-menu-1 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
color: black;

}

.menu-bar ul li:hover .sub-menu-2
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}


.menu-bar ul li:hover .sub-menu-2 ul
{
	display:block;
	margin: 10px;

}


.menu-bar ul li:hover .sub-menu-2 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;

}
.menu-bar ul li:hover .sub-menu-2 ul li:last-child
{
  border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-3
{
	display: block;
	position: absolute;
	background: rgb(0,100,0);
	margin-top: 15px;
	margin-left: -15px;
}


.menu-bar ul li:hover .sub-menu-3 ul
{
	display:block;
	margin: 10px;

}


.menu-bar ul li:hover .sub-menu-3 ul li
{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;

}


.menu-bar ul li:hover .sub-menu-3 ul li:last-child
{
	border-bottom:none;
}


.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color:#b2ff00;

}


.middle-container
{
margin-bottom:50px;
font-family: 'Merriweather', ;
}


.bottom-container
{
	margin-bottom: 0px;
	
}

.img
{
	border-radius: 10px;
	border-radius: 60%;
  padding: 5px;
  width: 250px;
  margin-top:20px;
  margin-bottom:50px;	
}


.img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.Content-Add{
	position: absolute;
	margin-top: 10px;
	padding: 5px;
}

.Add-form label{
	margin-top: 5px;
    margin-right: 10px;	
	padding: 10px;
	padding-bottom: 15px;
}
